*.class
/build/
/A2/NewEEP/nbproject/private/
/A2/EEP/OrderApp/nbproject/private/
A2/EEP/OrderApp/log.txt
/A2/EEP/OrderApp/dist/
*.properties
/A2/NewEEP/build/
/NewEEP/nbproject/private/
/A2 new/TrustedFamily_A2_2016/NewEEP/nbproject/private/
/A2 new/TrustedFamily_A2_2016/NewEEP/build/
/A3 Archive-2016/Wenxin/A3Refactor/nbproject/private/